albucore==0.0.23
albumentations==2.0.0
annotated-types==0.7.0
autocommand==2.2.2
backports.tarfile==1.2.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
eval_type_backport==0.2.0
export==0.2.1
fonttools==4.53.1
fsspec==2024.6.1
huggingface-hub==0.24.6
idna==3.10
imageio==2.35.1
importlib_metadata==8.0.0
importlib_resources==6.4.0
inflect==7.3.1
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
kiwisolver==1.4.5
lazy_loader==0.4
matplotlib==3.9.2
mkl-service==2.4.0
more-itertools==10.3.0
opencv-python-headless==4.10.0.84
ordered-set==4.1.0
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
progress==1.6
pydantic==2.10.5
pydantic_core==2.27.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.2
safetensors==0.4.4
scikit-image==0.24.0
scipy==1.14.0
simsimd==6.2.1
stringzilla==3.11.0
syops==0.0.5
tifffile==2024.8.30
timm==1.0.8
torch==2.0.0
torchaudio==2.0.0
torchsummary==1.5.1
torchvision==0.15.0
tqdm==4.66.5
typeguard==4.3.0
urllib3==2.2.2
zipp==3.19.2
